@using JVLigaV2.LeagueData.Models
@using Microsoft.AspNetCore.Identity
@model JVLigaV2.Models.Match.SeasonIndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<table class="table table-light table-hover">
	<thead class="thead-dark">
	<tr>
		<th>
			Datum
		</th>
		<th>
			Domácí
		</th>
		<th>
			Hosté
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var match in Model.Matches)
	{
			if (match.Date < DateTime.Now.AddMinutes(15))
			{
				<tr onclick="location.href = '@(Url.Action("Detail", "Match", new { id = match.Id }))'">
						<td>
							@match.Date.ToString("dd.MM.yyy H:mm")
						</td>
						<td style="color: @(match.Winner ? "green" : "black")">

							<a asp-action="Detail" asp-controller="Team" asp-route-id="@match.HomeTeam.Id"></a>@match.HomeTeam.Name
						</td>
						<td style="color: @(!match.Winner ? "green" : "black")">
							@match.GuestTeam.Name
						</td>
						<td>
							@if (User.IsInRole("Admin"))
							{

								<a asp-action="Edit" asp-route-id="@match.Id">Zadat výsledky</a>
								@Html.Raw("|")
								<a asp-action="Change" asp-route-id="@match.Id">Změnit datum</a>

							}
						</td>
				</tr>
			}
			else
			{
				<tr onclick="location.href = '@(Url.Action("Detail", "Match", new { id = match.Id }))'">
					
					<td>
						@match.Date.ToString("dd.MM.yyy H:mm")
					</td>
					<td>
						@match.HomeTeam.Name
					</td>
					<td>
						@match.GuestTeam.Name
					</td>
					<td>
						@if (User.IsInRole("Admin"))
						{

							<a asp-action="Edit" asp-controller="Match" asp-route-id="@match.Id">Zadat výsledky</a>
							@Html.Raw("|")
							<a asp-action="Change" asp-controller="Match" asp-route-id="@match.Id">Změnit datum</a>

						}
					</td>
				</tr>
			}
			}
	</tbody>
</table>