@using JVLigaV2.LeagueData.Models
@using Microsoft.AspNetCore.Identity
@model JVLigaV2.Models.Match.SeasonIndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager


@{
	ViewData["Title"] = Model.Title;
}


<div class="col-lg-7 mx-auto">
	
	<h2>@Model.Title</h2>
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th>
				Datum
			</th>
			<th>
				Domácí
			</th>
			<th>
				Hosté
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var match in Model.Matches)
		{
			if (match.Date < DateTime.Now.AddMinutes(15))
			{
				<tr>
					<td>
						@match.Date.ToString("dd.MM.yyy H:mm")
					</td>
					<td style="color: @(match.Winner ? "green" : "black")">

						@match.HomeTeam
					</td>
					<td style="color: @(!match.Winner ? "green" : "black")">
						@match.GuestTeam
					</td>
					<td>
						@if (User.IsInRole("Admin"))
						{

							<a asp-action="Edit" asp-route-id="@match.Id">Zadat výsledky</a>
							@Html.Raw("|")
							<a asp-action="Change" asp-route-id="@match.Id">Změnit datum</a>

						}
					</td>
				</tr>
			}
			else
			{
				<tr>
					<td>
						@match.Date.ToString("dd. MM. yyy H:mm")
					</td>
					<td>
						@match.HomeTeam
					</td>
					<td>
						@match.GuestTeam
					</td>
					<td>
						@if (User.IsInRole("Admin"))
						{

							<a asp-action="Edit" asp-route-id="@match.Id">Zadat výsledky</a>
							@Html.Raw("|")
							<a asp-action="Change" asp-route-id="@match.Id">Změnit datum</a>

						}
					</td>
				</tr>
			}
		}
		</tbody>
	</table>

	<a asp-controller="Match" asp-action="Season" asp-route-full="true" asp-route-year=@ViewBag.Year>Zobrazit celou sezónu</a>
</div>