@model JVLigaV2.Models.Articles.ArticleDetailModel


@{
	ViewData["Title"] = Model.Title;
}

<div class="col-lg-11">
	<div class="row">
		<div class="col-lg-12">
			<a style="text-decoration: underline;" asp-controller="Article" asp-action="Index">Zpět na výpis</a>
		</div>
	</div>
		<img class="img-fluid" src="@Html.Raw(Model.ImgSrc)" />
		<h1 style="color: dodgerblue">@Model.Title</h1>
		<h5>@Model.Description</h5>
	<p>@Html.Raw(Model.Body)</p>
	<p>@if (Model.Match != null || Model.Player != null || Model.Team != null)
	   {
		   @Html.Raw("Vztahuje se k:")
	   }@if (Model.Player != null){<a asp-action="Detail" asp-controller="Player" asp-route-id="@Model.Player.Id">@Html.Raw(Model.Player.FirstName + " " + Model.Player.LastName)</a>}
		@if (Model.Match != null) {<a asp-action="Detail" asp-controller="Match" asp-route-id="@Model.Match.Id">@Html.Raw(Model.Match.HomeTeam.Name + "-" + Model.Match.GuestTeam.Name + ", " + Model.Match.Date.ToString("dd.MM.yyy H:mm"))</a>} 
		@if (Model.Team != null){<a asp-action="Detail" asp-controller="Team" asp-route-id="@Model.Team.Id">@Html.Raw(Model.Team.Name)</a>}</p>
</div>