@model JVLigaV2.Models.Articles.ArticleIndexModel

@{
	ViewData["Title"] = "Moje články";
}

				

<div class="col-lg-11">

	<h2>Moje články</h2>
	@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
	{
		<p>
			<a asp-action="Create">Napsat článek</a>
		</p>
	}
	@foreach (var article in Model.Articles)
	{
		<div class="row">
			<div class="col-lg-4">
				<a asp-action="Detail" asp-route-id="@article.Id"><img class="img-fluid" src="@article.ImagePath"/></a>
			</div>
			<div class="col-lg-7">
				<h2><a style="color: dodgerblue" asp-action="Detail" asp-route-id="@article.Id">@Html.DisplayFor(modelItem => article.Title)</a></h2>
				<p style="color: black">@Html.DisplayFor(modelItem => article.Desrciption)</p>
				<span class="align-bottom">@article.PublishedDate.ToString("dd.MM.yyy H:mm")</span>
			</div>
			<div class="col-lg-1"><a asp-action="Delete" asp-route-id="@article.Id">Smazat</a></div>
		</div>
		<hr/>
	}
</div>