@model JVLigaV2.Models.Match.StandingsModel

@if (Model != null)
{
		<table class="table table-light">
			<thead class="thead-dark">
			<tr>
				<th scope="col">Pořadí</th>
				<th scope="col">Tým</th>
				<th scope="col">V</th>
				<th scope="col">P</th>
				<th scope="col">Z</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var standing in Model.StandingListingModel)
			{
				<tr>
					<th scope="row">@standing.Order</th>
					<td>@standing.TeamName</td>
					<td>@standing.Wins</td>
					<td>@standing.Losses</td>
					<td>@standing.NumOfMatches</td>
				</tr>
			}
			</tbody>
		</table>
}
