@model JVLigaV2.Models.Team.TeamDetailModel

@{
	ViewData["Title"] = @Model.Team.Name;
}
<div class="col-lg-12 text-center mx-auto">
	<div clas="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<h3>@Model.Team.Name</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>@Html.Raw("Hala: ")</strong>@Model.Team.Hall.Name
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Soupiska: </strong>
				</div>
			</div>
			@if (Model.Players != null)
			{
				foreach (var player in Model.Players)
				{
					<div class="row">
						<div class="col-lg-12">
							@Html.Raw(player.FirstName + " " + player.LastName)
						</div>
					</div>
				}
			}
		</div>
			</div>
		</div>
